{% extends "base.html.twig" %} 

{% block content %}
    <div class="b-pokemon__container">
        Total: {{ pokemons.getTotalItemCount }}
        {% for pokemon in pokemons %}
        asfgsfdg
            <div class="b-pokemon">
                <p class="b-pokemon__list">{{pokemon.name}}</p>
                <img class="b-pokemon__image" src="{{pokemon.image}}">
                <p class="b-pokemon__type">{{pokemon.description}}</p>
                <a href="{{ path('delete', {id : pokemon.id})}}">delete</a>
                <a href={{ path('modify', {id : pokemon.id})}}">modify</a>
            </div>
        {% endfor %}
        {{ knp_pagination_render(pokemons) }}

    </div>
    <a href="/pokemonform">CREATE</a>
{% endblock %}


{% block modifyPokemon %}
{% endblock %}
